{% extends "template.html" %}

{% block header %}
<h1 class="header-title">Hello Form</h1>
{% endblock %}

{% block content %}
  <!-- form to submit a movie into movies collections -->
  <form action="/" method="post">
    <fieldsest>
      <div class="container">
        <!-- input for movie title -->
        <div class="form-group">
          <label for="movie_title">Enter movie title: </label>
          <input id="movie_title" class="form-control" type="text" name="movie[title]" placeholder="ex. Inception" required>
        </div>
        <!-- input for year of the movie -->
        <div class="form-group">
          <label for="movie_year">Enter year movie aired: </label>
          <input id="movie_year" class="form-control" type="text" name="movie[year]" placeholder="ex. 2010" required>
        </div>
        <!-- input imdb link -->
        <div class="form-group">
          <label for="movie_imdb_link">Enter imdb link: </label>
          <input id="movie_imdb_link" class="form-control" type="text" name="movie[imdb]" placeholder="ex. www.imdb.com/title/tt1375666/" required>
        </div>
        <input id="submit-button" type="submit" class="btn btn-lg btn-primary" value="Submit">
      </div>
    </fieldset>
  </form>
{% endblock %}
